html {
  width: 99vw;
}

#mobile-nav {
  height: 0;
}

@media (min-width: 100px) and (max-width: 480px) {
  html {
    width: 100%;
  }

  #content {
    font-size: 0.75rem;
    margin: 0em 1em 1em 1em;
  }

  h1 {
    font-size: 1.5rem;
  }

  #banner-header {
    transform: translateX(0);
    font-size: 2em;
  }

  #banner-img {
    height: 9em;
  }

  #item-container {
    font-size: 0.9em;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  #banner-img {
    height: 8.5rem;
  }

  #banner-header {
    top: 2rem;
  }

  #content {
    font-size: 0.75rem;
    margin: 0em 1em 0em 18em;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

label[for=quantity] {
  margin: inherit;
}

input[type=number] {
  text-align: center;
}

input#quantity {
  width: 3em;
}

